
#mytitle {
     width: 158px;
     position: absolute;
     color: #000;
     max-width: 160px;
     font-size: 14px;
     padding: 4px;
     border: solid 1px #ced5d3;
     border-radius:10px !important;
     text-align: center;
     line-height: 30px;
     background-color: #fff;
     box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
     display: none;
 }

